<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>960742786089-ed6r5bqpkkem8h4nvbc54l5poe69o2a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.960742786089-ed6r5bqpkkem8h4nvbc54l5poe69o2a9</string>
	<key>API_KEY</key>
	<string>AIzaSyDjssTYjcCI9tw6RAJnHKSBsibfUbCYAQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>960742786089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.herbAr</string>
	<key>PROJECT_ID</key>
	<string>herb-ar</string>
	<key>STORAGE_BUCKET</key>
	<string>herb-ar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:960742786089:ios:8ac9814e031a2d48dd0838</string>
</dict>
</plist>